.header{
    width: 100%;
    height:60px;
    background-color:#99CC33;
    border-bottom: 1px solid black;
    display: flex;
}
.select{
    width: 60%;
    height: 100%;
}
.search{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
}
#search-box{
    background-color: white;
    border-radius: 30px;
}
#search-box #search-text{
    border:none;
    outline: none;
    background-color: none;
    width: 0;
    padding: 0;
}
#search-box:hover #search-text{
    width: 300px;
    padding: 10px 15px;
}
#search-box #search-button{
    background-color: white;
    border:none;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
}