@media all and (min-width: 991px){
    *{
        margin:0;
        list-style-type: none;
    }
    .header{
        width: 100%;
        height:60px;
        background-color:white;
        border-bottom: 1px solid black;
        display: flex;
    }
    .select{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoo{
        width: 124px;
        height: 60%;
        background-image: url('moinhat.jpg');
        background-size: contain;
        cursor: pointer;
    }
    
    .search{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon{
        width: 20%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .icon i:hover{
        filter: drop-shadow(0 0 2px black);
        color:pink;
        transition: 0.25s ease-in-out;
    }
    .icon a i{
        color:black;
    }
    *{
        box-sizing: border-box;
    }
    #search-box{
        background-color: white;
        border-radius: 30px;
    }
    #search-box #search-text{
        border:none;
        outline: none;
        background-color: none;
        width: 0;
        padding: 0;
        transition: all 0.25s ease-in-out;
    }
    #search-box:hover #search-text, #search-box #search-text:valid{
        width: 300px;
        padding: 10px 0px 10px 15px;
    }
    #search-box #search-button{
        background-color: white;
        border:none;
        padding: 10px 13px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 15px;
    }
    .bigmenu{
        background-color: #00CCCC;
    }
    .header_inner{
        max-width: 1024px;
        height: 65px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        position: relative;
    }
    .logo{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        text-indent: 20px;
        border: 1px solid black;
        border-radius: 5px;
        font-family:Monaco;
        background-color: white;
        cursor: pointer;
    }
    .logo a{
        text-decoration: none;
        color:black;
    }
    .logo:hover{
        background-color: rgb(233, 225, 225);
        transition: 0.25s ease-in-out;
        filter: drop-shadow(0 0 3px white);
    }
    .menu{
        display: flex;
        align-items: center;
    }
    .menu_item{
        margin: 0 1rem;
    }
    .menu_item:hover .menu_child{
        opacity: 1;
        visibility:visible;
        transition: 0.25s linear;
        filter: drop-shadow(0 0 5px white);
    }
    .menu_child{
        position:absolute;
        top:100%;
        left: 0;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
    }
    .menu_child-item{
        width: 25%;
    }
    .menu_child-item h4{
        color: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 0.7rem;
        margin: 0;
        background-color: #00CCCC;
    }
    .menu_child-list{
        padding: 0;
    }
    .menu_child-list li{
        margin: 0;
        padding: 0.7rem;
        background-color: white;
        border-top: 1px solid black;
        border-bottom: 0.1px solid black;
        color: black;
    }
    .menu_child-list li:hover{
        transition: 0.25s linear;
        background-color:#DCDCDCFF;
        filter: drop-shadow(0 0 3px #00CCCC );
    
    }
    .menu_link{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        font-family: monaco;
    }
html{
    font-family: "Poppins",sans-serif;
}
.big-signup{
    width: 100%;
    min-height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
    background-color: #f2f3f5;
    padding: 100px 0;

}
.signup{
    padding: 90px 75px;
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}
.signup-heading{
    font-size: 40px;
    font-weight: bold;
    color:#373941;
    text-align: center;
    margin-bottom: 35px;
}
.signup-social{
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 100%;
    color:white;
    font-size: 16px;
    font-weight:bold;
    font-family: "Poppins",sans-serif;
    border:0;
    background-color: #4c6ff4;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow:0 5px 10px 0 rgba(76,111,244,0.5);  
}
.signup-social-icon{
    width: 60px;
    height: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color:#4c6ff4;
    font-size: 30px;
    border-radius: 10px;
}
.signup-social-text{
    display: block;
    margin: 0 auto;
}
.signup-or{
    text-align: center;
    font-size: 16px;
    color:#999;
    margin:55px auto;
    position: relative;
}
.signup-or span{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.signup-or:after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}
.signup-label{
    font-size: 16px;
    color:#63676B;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}
.signup-input{
    display: inline-block;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color:#f2f3f5;
    outline: none;
    border: 0;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.signup-submit{
    padding: 25px;
    color:white;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background-color: #82c91e;
    font-family: "Poppins",sans-serif;
    box-shadow:0 5px 10px 0 rgba(130,201,30,0.5);  
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
}
.signup-already{
    text-align: center;
    font-size: 16px;
    color:#999;

}
.signup-login-link{
    margin-top: 20px;
    color:#2979ff;
    text-decoration: none;
}
.space5{
    width: 70%;
    height: 120px;
    display: flex;
}
.p1{
    background-image: url('logoYonex1.png');
    background-size: cover;
    width: 20%;
    height: 100%;
}
.p2{
    background-image: url('logoLining3.png');
    background-size: cover;
    width: 20%;
    height: 100%;
}
.p3{
    background-image: url('logoVictor.png');
    background-size: cover;
    width: 20%;
    height: 100%;
}
.p4{
    background-image: url('logoMizuno3.jpeg');
    background-size: cover;
    width: 20%;
    height: 100%;
}
.p5{
    background-image: url('logoKumpô2.jpeg');
    background-size: cover;
    width: 20%;
    height: 100%;
}
.topBanChay1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.tbc-to1{
    width: 70%;
    height: 100%;
    border-bottom: 1px solid black;
    display: flex;
}
.space6{
    width: 70%;
    height:360px ;
    display: flex;
    border-bottom: 1px solid black;
}
.space4{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lAA{
    width: 30%;
    height: 100%;

}

.ps{
    width: 70%;
    height: 100%;
    display: flex;
}
.column{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.row-main{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.clo{
    width: 100%;
    height: 10%;
    font-size:12px;
    font-weight: 200;
    cursor: pointer;
}
.clo:hover{
    text-decoration: underline;
}
.logooo{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.real{
    width: 90%;
    height: 55%;
    background-image:url('moinhat.jpg');
    background-size: cover;
}
.lAA-item{
    width: 100%;
    height: 10%;
    font-size:15px;
    display: flex;
    align-items: center;
    font-weight: 200;
    cursor: pointer;
}
.brand{
    width: 100%;
    height: 15%;
    display: flex;
}
.brand-item{
    border-radius: 50%;
    width: 16%;
    height: 90%;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #dbe1db;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.space7{
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 214px;
}
.copyRight{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.copyRight i{
    text-indent: 5px;
    font-size: 10px;
}
.copyRight span{
    text-indent: 5px;
    color:green;
    font-size: 10px;
}
.company{
    width: 30%;
    height: 20%;
    background-image: url('payment.png');
    background-size: cover;
}
}
@media all and (min-width: 768px) and (max-width: 991px){
    *{
        margin:0;
        list-style-type: none;
    }
    .header{
        width: 100%;
        height:60px;
        background-color:white;
        border-bottom: 1px solid black;
        display: flex;
    }
    .select{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoo{
        width: 100px;
        height: 60%;
        background-image: url('moinhat.jpg');
        background-size: cover;
        cursor: pointer;
    }
    
    .search{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon{
        width: 20%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .icon i:hover{
        filter: drop-shadow(0 0 2px black);
        color:pink;
        transition: 0.25s ease-in-out;
    }
    *{
        box-sizing: border-box;
    }
    #search-box{
        background-color: white;
        border-radius: 30px;
    }
    #search-box #search-text{
        border:none;
        outline: none;
        background-color: none;
        width: 0;
        padding: 0;
        transition: all 0.25s ease-in-out;
    }
    #search-box:hover #search-text, #search-box #search-text:valid{
        width: 300px;
        padding: 10px 0px 10px 15px;
    }
    #search-box #search-button{
        background-color: white;
        border:none;
        padding: 10px 13px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 15px;
    }
    .bigmenu{
        background-color: #00CCCC;
    }
    .header_inner{
        max-width: 1024px;
        height: 65px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        position: relative;
    }
    .logo{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        text-indent: 20px;
        border: 1px solid black;
        border-radius: 5px;
        font-family:Monaco;
        background-color: white;
        color:black;
        cursor: pointer;
    }
    .logo:hover{
        background-color: rgb(233, 225, 225);
        transition: 0.25s ease-in-out;
        filter: drop-shadow(0 0 3px white);
    }
    .menu{
        display: flex;
        align-items: center;
    }
    .menu_item{
        margin: 0 1rem;
    }
    .menu_item:hover .menu_child{
        opacity: 1;
        visibility:visible;
        transition: 0.25s linear;
        filter: drop-shadow(0 0 5px white);
    }
    .menu_child{
        position:absolute;
        top:100%;
        left: 0;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
    }
    .menu_child-item{
        width: 25%;
    }
    .menu_child-item h4{
        color: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 0.7rem;
        margin: 0;
        background-color: #00CCCC;
    }
    .menu_child-list{
        padding: 0;
    }
    .menu_child-list li{
        margin: 0;
        padding: 0.7rem;
        background-color: white;
        border-top: 1px solid black;
        border-bottom: 0.1px solid black;
        color: black;
    }
    .menu_child-list li:hover{
        transition: 0.25s linear;
        background-color:#DCDCDCFF;
        filter: drop-shadow(0 0 3px #00CCCC );
    
    }
    .menu_link{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        font-family: monaco;
    }
    .space5{
        width: 70%;
        height: 85px;
        display: flex;
    }
    .p1{
        background-image: url('logoYonex1.png');
        background-size: cover;
        width: 20%;
        height: 100%;
    }
    .p2{
        background-image: url('logoLining3.png');
        background-size: cover;
        width: 20%;
        height: 100%;
    }
    .p3{
        background-image: url('logoVictor.png');
        background-size: cover;
        width: 20%;
        height: 100%;
    }
    .p4{
        background-image: url('logoMizuno3.jpeg');
        background-size: cover;
        width: 20%;
        height: 100%;
    }
    .p5{
        background-image: url('logoKumpô2.jpeg');
        background-size: cover;
        width: 20%;
        height: 100%;
    }
    .topBanChay1{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }
    .tbc-to1{
        width: 70%;
        height: 100%;
        border-bottom: 1px solid black;
        display: flex;
    }
    .space6{
        width: 70%;
        height:360px ;
        display: flex;
        border-bottom: 1px solid black;
    }
    .space4{
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lAA{
        width: 30%;
        height: 100%;
    
    }
    
    .ps{
        width: 70%;
        height: 100%;
        display: flex;
    }
    .column{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .row-main{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    .clo{
        width: 100%;
        height: 10%;
        font-size:12px;
        font-weight: 200;
        cursor: pointer;
    }
    .clo:hover{
        text-decoration: underline;
    }
    .logooo{
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .real{
        width: 90%;
        height: 55%;
        background-image:url('moinhat.jpg');
        background-size: cover;
    }
    .lAA-item{
        width: 100%;
        height: 10%;
        font-size:10px;
        display: flex;
        align-items: center;
        font-weight: 200;
        cursor: pointer;
    }
    .brand{
        width: 100%;
        height: 15%;
        display: flex;
    }
    .brand-item{
        border-radius: 50%;
        width: 16%;
        height: 50%;
        margin-right: 10px;
        margin-top: 10px;
        background-color: #dbe1db;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .space7{
        width: 70%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 130px;
    }
    .copyRight{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 10px;
    }
    .copyRight i{
        text-indent: 5px;
        font-size: 10px;
    }
    .copyRight span{
        text-indent: 5px;
        color:green;
        font-size: 10px;
    }
    .company{
        width: 30%;
        height: 20%;
        background-image: url('payment.png');
        background-size: cover;
    }
}